.navbar {
  .element {
    flex-grow: 1;
    margin-left: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 1.2em;
  }
  .btn {
    text-decoration: none;
    button {
      color: white;
    }
  }
}
